#top,
#bottom {
  position: absolute;
  width: 200px;
  height: 200px;
}

#top {
  background-color: red;
  left: 200px;
  top: 200px;
}

#bottom {
  background-color: blue;
  left: 400px;
  top: 400px;
}
