#top,
#bottom {
  position: absolute;
  width: 300px;
  height: 300px;
}

#top {
  background-color: red;
  left: 200px;
  top: 200px;
  z-index: 2;
}

#bottom {
  background-color: blue;
  left: 400px;
  top: 400px;
}

div {
  font-weight: bold;
  text-align: center;
  line-height: 300px;
  font-size: 48px;
  color: white;
}
